body {
  background-color: maroon;
}

#container {
  width: 600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  background-color: black;
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
}

#container-kaart {
  width: 100px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform .5s;
}

#voorkant, #achterkant {
  position: absolute;
  width: 90px;
  height: 110px;
  margin: 5px;
  border-radius: 10px;
  background-color: darkgreen;
  backface-visibility: hidden;
}

#achterkant {
  transform: rotateY(180deg);
}

#container-kaart.flip {
  transform: rotateY(180deg);
}